<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceGeneric.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceGeneric.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ServiceGeneric.Properties.Settings>
            <setting name="Uname" serializeAs="String">
                <value>dynamicsUser</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>Y9Tanzan!4#22</value>
            </setting>
            <setting name="Navuser" serializeAs="String">
                <value>cybercill</value>
            </setting>
            <setting name="Navpass" serializeAs="String">
                <value>P@$$w0rd</value>
            </setting>
        </ServiceGeneric.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="StartTime" value="10:50 AM "/>
	</appSettings>
 <applicationSettings>
  <ServiceGeneric.Properties.Settings>
   <setting name="ServiceGeneric_NAVWEBREF_Mambu" serializeAs="String">
    <value>http://40.85.80.247:6027/Y9/WS/Y9%20Microfinance/Codeunit/Mambu</value>
   </setting>
  </ServiceGeneric.Properties.Settings>
 </applicationSettings>
</configuration>